@model OnlineExamination.Models.Result

    <div class="jumbotron m-5 p-5 justify-content-center shadow-lg border bg-success">
        <h1 class="text-black-50 text-capitalize text-center ">
            Congratulations your score is @Model.Score
        </h1>
    </div>

<div class="row justify-content-center d-flex">
    <a class="btn btn-lg btn-info" href="/Home/Index">Back To HomePage</a>

</div>

